nav {
    font-family: 'Poppins', sans-serif;
    position: fixed;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: var(--container-width-lg);
    height: 150px;
    
    z-index: 1;

}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

img {
    width: 100px;
    height: 100px;
}

button {
    background: var(--color-primary);
    color: var(--color-black);
}

/* ============ MEDIA QUERIES (MEDIUM DEVICES) ========== */
@media screen and (max-width: 1024px) {
    nav {
        width: var(--container-width-md);
    }

}

/* ============ MEDIA QUERIES (SMALL DEVICES) ========== */
@media screen and (max-width: 767px) {
    header {
        height: 100vh;
    }

    .header {
        width: var(--container-width-sm);
    }

    .getVideo {
        margin: 20px 0px;
    }

    .navbar img {
        margin-top: 16px;
        width: 70px !important;
        height: 70px !important;
    }
    
    .navbar button {
        display: none !important;
    }

    nav {
        justify-content: flex-start;
        align-items: flex-start;
        overflow-x: hidden;
    }
}

